<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f777e8">  <td>20/05/20 17:08:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCase1.beforeClass()[pri:0, instance:tests.TestCase1@4bbfb90a]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@601008104</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>20/05/20 17:08:48</td>   <td>5949</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase1.openMyBlog()[pri:0, instance:tests.TestCase1@4bbfb90a]">openMyBlog</td> 
  <td>main@601008104</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>20/05/20 17:08:52</td>   <td>9695</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCase1.afterClass()[pri:0, instance:tests.TestCase1@4bbfb90a]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@601008104</td>   <td></td> </tr>
</table>
